openapi: 3.0.0
info:
  title: helicone-api Agent Security API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Security
paths:
  /v1/public/security:
    post:
      operationId: GetSecurity
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__unsafe-boolean_.string_'
      tags:
      - Security
      security: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                text:
                  type: string
                advanced:
                  type: boolean
              required:
              - text
              - advanced
              type: object
components:
  schemas:
    ResultSuccess__unsafe-boolean__:
      properties:
        data:
          properties:
            unsafe:
              type: boolean
          required:
          - unsafe
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result__unsafe-boolean_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__unsafe-boolean__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
