openapi: 3.0.0
info:
  title: helicone-api Agent Prompt2025V2 API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Prompt2025V2
paths:
  /v2/prompt-2025/query/version:
    post:
      operationId: GetPrompt2025Version
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025V2
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptVersionId:
                  type: string
              required:
              - promptVersionId
              type: object
  /v2/prompt-2025/query/environment-version:
    post:
      operationId: GetPrompt2025EnvironmentVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025V2
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                environment:
                  type: string
                promptId:
                  type: string
              required:
              - environment
              - promptId
              type: object
  /v2/prompt-2025/query/production-version:
    post:
      operationId: GetPrompt2025ProductionVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025V2
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptId:
                  type: string
              required:
              - promptId
              type: object
components:
  schemas:
    Prompt2025Version:
      properties:
        id:
          type: string
        model:
          type: string
        prompt_id:
          type: string
        major_version:
          type: number
          format: double
        minor_version:
          type: number
          format: double
        commit_message:
          type: string
        environments:
          items:
            type: string
          type: array
        created_at:
          type: string
        s3_url:
          type: string
        prompt_body:
          $ref: '#/components/schemas/Prompt2025VersionPromptBody'
          description: 'The full prompt body including messages. Only included when explicitly requested

            via the `includePromptBody` parameter to avoid unnecessary data transfer.'
      required:
      - id
      - model
      - prompt_id
      - major_version
      - minor_version
      - commit_message
      - created_at
      type: object
      additionalProperties: false
    Prompt2025VersionPromptBody:
      properties:
        model:
          type: string
        messages:
          items:
            properties:
              tool_calls:
                items:
                  properties:
                    type:
                      type: string
                      enum:
                      - function
                      nullable: false
                    function:
                      properties:
                        arguments:
                          type: string
                        name:
                          type: string
                      required:
                      - arguments
                      - name
                      type: object
                    id:
                      type: string
                  required:
                  - type
                  - function
                  - id
                  type: object
                type: array
              tool_call_id:
                type: string
              name:
                type: string
              content:
                anyOf:
                - type: string
                - items:
                    properties:
                      image_url:
                        properties:
                          url:
                            type: string
                        required:
                        - url
                        type: object
                      text:
                        type: string
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  type: array
                nullable: true
              role:
                type: string
            required:
            - content
            - role
            type: object
          type: array
        temperature:
          type: number
          format: double
        top_p:
          type: number
          format: double
        max_tokens:
          type: number
          format: double
        tools:
          items:
            properties:
              function:
                properties:
                  parameters:
                    $ref: '#/components/schemas/Record_string.unknown_'
                  description:
                    type: string
                  name:
                    type: string
                required:
                - parameters
                - description
                - name
                type: object
              type:
                type: string
                enum:
                - function
                nullable: false
            required:
            - function
            - type
            type: object
          type: array
        tool_choice:
          anyOf:
          - type: string
          - properties:
              function:
                properties:
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                    - function
                    nullable: false
                required:
                - name
                - type
                type: object
              type:
                type: string
            required:
            - type
            type: object
      type: object
      additionalProperties: {}
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    ResultSuccess_Prompt2025Version_:
      properties:
        data:
          $ref: '#/components/schemas/Prompt2025Version'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_Prompt2025Version.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025Version_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
