openapi: 3.0.0
info:
  title: helicone-api Agent Status API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Status
paths:
  /v1/public/status/provider:
    get:
      operationId: GetAllProviderStatus
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ProviderMetrics-Array.string_'
      tags:
      - Status
      security:
      - api_key: []
      parameters: []
  /v1/public/status/provider/{provider}:
    get:
      operationId: GetProviderStatus
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ProviderMetrics.string_'
      tags:
      - Status
      security:
      - api_key: []
      parameters:
      - in: path
        name: provider
        required: true
        schema:
          type: string
      - in: query
        name: timeFrame
        required: true
        schema:
          $ref: '#/components/schemas/TimeFrame'
components:
  schemas:
    Result_ProviderMetrics-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ProviderMetrics-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_ProviderMetrics-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ProviderMetrics'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_ProviderMetrics.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ProviderMetrics_'
      - $ref: '#/components/schemas/ResultError_string_'
    TimeFrame:
      type: string
      enum:
      - 24h
      - 7d
      - 30d
    ProviderMetrics:
      properties:
        providerName:
          type: string
        metrics:
          allOf:
          - $ref: '#/components/schemas/MetricsData'
          - properties:
              timeSeriesData:
                items:
                  $ref: '#/components/schemas/TimeSeriesDataPoint'
                type: array
            required:
            - timeSeriesData
            type: object
      required:
      - providerName
      - metrics
      type: object
      additionalProperties: false
    TimeSeriesDataPoint:
      properties:
        timestamp:
          type: string
          format: date-time
        errorCount:
          type: number
          format: double
        requestCount:
          type: number
          format: double
        averageLatency:
          type: number
          format: double
        averageLatencyPerCompletionToken:
          type: number
          format: double
      required:
      - timestamp
      - errorCount
      - requestCount
      - averageLatency
      - averageLatencyPerCompletionToken
      type: object
      additionalProperties: false
    ResultSuccess_ProviderMetrics_:
      properties:
        data:
          $ref: '#/components/schemas/ProviderMetrics'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
    MetricsData:
      properties:
        totalRequests:
          type: number
          format: double
        requestCountPrevious24h:
          type: number
          format: double
        requestVolumeChange:
          type: number
          format: double
        errorRate24h:
          type: number
          format: double
        errorRatePrevious24h:
          type: number
          format: double
        errorRateChange:
          type: number
          format: double
        averageLatency:
          type: number
          format: double
        averageLatencyPerToken:
          type: number
          format: double
        latencyChange:
          type: number
          format: double
        latencyPerTokenChange:
          type: number
          format: double
        recentRequestCount:
          type: number
          format: double
        recentErrorCount:
          type: number
          format: double
      required:
      - totalRequests
      - requestCountPrevious24h
      - requestVolumeChange
      - errorRate24h
      - errorRatePrevious24h
      - errorRateChange
      - averageLatency
      - averageLatencyPerToken
      - latencyChange
      - latencyPerTokenChange
      - recentRequestCount
      - recentErrorCount
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
