openapi: 3.0.0
info:
  title: helicone-api Agent API Key API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: API Key
paths:
  /v1/api-keys/provider-key/{providerKeyId}:
    delete:
      operationId: DeleteProviderKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    providerName:
                      type: string
                      enum:
                      - baseten
                      - anthropic
                      - azure
                      - bedrock
                      - canopywave
                      - cerebras
                      - chutes
                      - deepinfra
                      - deepseek
                      - fireworks
                      - google-ai-studio
                      - groq
                      - helicone
                      - mistral
                      - nebius
                      - novita
                      - openai
                      - openrouter
                      - perplexity
                      - vertex
                      - xai
                  required:
                  - providerName
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters:
      - in: path
        name: providerKeyId
        required: true
        schema:
          type: string
    get:
      operationId: GetProviderKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DecryptedProviderKey'
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters:
      - in: path
        name: providerKeyId
        required: true
        schema:
          type: string
    patch:
      operationId: UpdateProviderKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__id-string--providerName-string_.string_'
      tags:
      - API Key
      security:
      - api_key: []
      parameters:
      - in: path
        name: providerKeyId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderKeyRequest'
  /v1/api-keys/provider-key:
    post:
      operationId: CreateProviderKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    id:
                      type: string
                  required:
                  - id
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderKeyRequest'
  /v1/api-keys/provider-keys:
    get:
      operationId: GetProviderKeys
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - items:
                    $ref: '#/components/schemas/ProviderKeyRow'
                  type: array
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters: []
  /v1/api-keys:
    get:
      operationId: GetAPIKeys
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__api_key_hash-string--api_key_name-string--created_at-string--governance-boolean--id-number--key_permissions-string--organization_id-string--soft_delete-boolean--temp_key-boolean--updated_at-string--user_id-string_-Array.string_'
      tags:
      - API Key
      security:
      - api_key: []
      parameters: []
    post:
      operationId: CreateAPIKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    hashedKey:
                      type: string
                    apiKey:
                      type: string
                    id:
                      type: string
                  required:
                  - hashedKey
                  - apiKey
                  - id
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                key_permissions:
                  type: string
                  enum:
                  - rw
                  - r
                  - w
                api_key_name:
                  type: string
              required:
              - api_key_name
              type: object
  /v1/api-keys/proxy-key:
    post:
      operationId: CreateProxyKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    proxyKeyId:
                      type: string
                    proxyKey:
                      type: string
                  required:
                  - proxyKeyId
                  - proxyKey
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                proxyKeyName:
                  type: string
                providerKeyId:
                  type: string
              required:
              - proxyKeyName
              - providerKeyId
              type: object
  /v1/api-keys/{apiKeyId}:
    delete:
      operationId: DeleteAPIKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    hashedKey:
                      type: string
                  required:
                  - hashedKey
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters:
      - in: path
        name: apiKeyId
        required: true
        schema:
          format: double
          type: number
    patch:
      operationId: UpdateAPIKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - properties:
                    hashedKey:
                      type: string
                  required:
                  - hashedKey
                  type: object
                - properties:
                    error:
                      type: string
                  required:
                  - error
                  type: object
      tags:
      - API Key
      security:
      - api_key: []
      parameters:
      - in: path
        name: apiKeyId
        required: true
        schema:
          format: double
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                api_key_name:
                  type: string
              required:
              - api_key_name
              type: object
components:
  schemas:
    UpdateProviderKeyRequest:
      properties:
        byokEnabled:
          type: boolean
        config:
          $ref: '#/components/schemas/Record_string.string_'
        providerSecretKey:
          type: string
        providerKey:
          type: string
      type: object
    ProviderKeyRow:
      properties:
        id:
          type: string
        provider_name:
          type: string
        provider_key_name:
          type: string
        created_at:
          type: string
        soft_delete:
          type: boolean
        config:
          $ref: '#/components/schemas/Record_string.any_'
        byok_enabled:
          type: boolean
        cuid:
          type: string
      required:
      - id
      - provider_name
      - provider_key_name
      - soft_delete
      type: object
      additionalProperties: false
    CreateProviderKeyRequest:
      properties:
        config:
          $ref: '#/components/schemas/Record_string.string_'
        byokEnabled:
          type: boolean
        providerKeyName:
          type: string
        providerSecretKey:
          type: string
        providerKey:
          type: string
        providerName:
          type: string
      required:
      - config
      - byokEnabled
      - providerKeyName
      - providerKey
      - providerName
      type: object
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
    Record_string.any_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    ? Result__api_key_hash-string--api_key_name-string--created_at-string--governance-boolean--id-number--key_permissions-string--organization_id-string--soft_delete-boolean--temp_key-boolean--updated_at-string--user_id-string_-Array.string_
    : anyOf:
      - $ref: '#/components/schemas/ResultSuccess__api_key_hash-string--api_key_name-string--created_at-string--governance-boolean--id-number--key_permissions-string--organization_id-string--soft_delete-boolean--temp_key-boolean--updated_at-string--user_id-string_-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result__id-string--providerName-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__id-string--providerName-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    DecryptedProviderKey:
      properties:
        cuid:
          type: string
          nullable: true
        provider_secret_key:
          type: string
          nullable: true
        provider_key_name:
          type: string
          nullable: true
        provider_name:
          type: string
          nullable: true
        provider_key:
          type: string
          nullable: true
        org_id:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      required:
      - provider_secret_key
      - provider_key_name
      - provider_name
      - provider_key
      - org_id
      - id
      type: object
    ResultSuccess__id-string--providerName-string__:
      properties:
        data:
          properties:
            providerName:
              type: string
            id:
              type: string
          required:
          - providerName
          - id
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ? ResultSuccess__api_key_hash-string--api_key_name-string--created_at-string--governance-boolean--id-number--key_permissions-string--organization_id-string--soft_delete-boolean--temp_key-boolean--updated_at-string--user_id-string_-Array_
    : properties:
        data:
          items:
            properties:
              user_id:
                type: string
              updated_at:
                type: string
              temp_key:
                type: boolean
              soft_delete:
                type: boolean
              organization_id:
                type: string
              key_permissions:
                type: string
              id:
                type: number
                format: double
              governance:
                type: boolean
              created_at:
                type: string
              api_key_name:
                type: string
              api_key_hash:
                type: string
            required:
            - user_id
            - updated_at
            - temp_key
            - soft_delete
            - organization_id
            - key_permissions
            - id
            - governance
            - created_at
            - api_key_name
            - api_key_hash
            type: object
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
