openapi: 3.0.0
info:
  title: helicone-api Agent Wrapped API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Wrapped
paths:
  /v1/wrapped/2025:
    get:
      operationId: GetWrapped2025Stats
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_WrappedStats.string_'
      tags:
      - Wrapped
      security:
      - api_key: []
      parameters: []
  /v1/wrapped/2025/check:
    get:
      operationId: CheckHasWrapped2025Data
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__hasData-boolean_.string_'
      tags:
      - Wrapped
      security:
      - api_key: []
      parameters: []
components:
  schemas:
    Result__hasData-boolean_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__hasData-boolean__'
      - $ref: '#/components/schemas/ResultError_string_'
    ConversationMessage:
      properties:
        role:
          type: string
        content:
          type: string
      required:
      - role
      - content
      type: object
      additionalProperties: false
    ResultSuccess_WrappedStats_:
      properties:
        data:
          $ref: '#/components/schemas/WrappedStats'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    WrappedStats:
      properties:
        totalRequests:
          type: number
          format: double
        topProviders:
          items:
            properties:
              count:
                type: number
                format: double
              provider:
                type: string
            required:
            - count
            - provider
            type: object
          type: array
        topModels:
          items:
            properties:
              count:
                type: number
                format: double
              model:
                type: string
            required:
            - count
            - model
            type: object
          type: array
        totalTokens:
          properties:
            total:
              type: number
              format: double
            cacheRead:
              type: number
              format: double
            cacheWrite:
              type: number
              format: double
            completion:
              type: number
              format: double
            prompt:
              type: number
              format: double
          required:
          - total
          - cacheRead
          - cacheWrite
          - completion
          - prompt
          type: object
        mostExpensiveRequest:
          allOf:
          - $ref: '#/components/schemas/MostExpensiveRequest'
          nullable: true
      required:
      - totalRequests
      - topProviders
      - topModels
      - totalTokens
      - mostExpensiveRequest
      type: object
      additionalProperties: false
    ResultSuccess__hasData-boolean__:
      properties:
        data:
          properties:
            hasData:
              type: boolean
          required:
          - hasData
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    MostExpensiveRequest:
      properties:
        requestId:
          type: string
        cost:
          type: number
          format: double
        model:
          type: string
        provider:
          type: string
        createdAt:
          type: string
        promptTokens:
          type: number
          format: double
        completionTokens:
          type: number
          format: double
        conversation:
          properties:
            totalWords:
              type: number
              format: double
            turnCount:
              type: number
              format: double
            messages:
              items:
                $ref: '#/components/schemas/ConversationMessage'
              type: array
          required:
          - totalWords
          - turnCount
          - messages
          type: object
          nullable: true
      required:
      - requestId
      - cost
      - model
      - provider
      - createdAt
      - promptTokens
      - completionTokens
      - conversation
      type: object
      additionalProperties: false
    Result_WrappedStats.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_WrappedStats_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
