openapi: 3.0.0
info:
  title: helicone-api Agent Providers API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Providers
paths:
  /v1/providers:
    post:
      operationId: GetProviders
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ProviderMetric-Array.string_'
      tags:
      - Providers
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderQueryParams'
components:
  schemas:
    Partial_RequestResponseRMTToOperators_:
      properties:
        country_code:
          $ref: '#/components/schemas/Partial_TextOperators_'
        latency:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        cost:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        provider:
          $ref: '#/components/schemas/Partial_TextOperators_'
        time_to_first_token:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        status:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        request_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        response_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        node_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        job_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        threat:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
        request_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        completion_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        prompt_cache_read_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        prompt_cache_write_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        total_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        target_url:
          $ref: '#/components/schemas/Partial_TextOperators_'
        property_key:
          properties:
            equals:
              type: string
          required:
          - equals
          type: object
        properties:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        search_properties:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        scores:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        scores_column:
          $ref: '#/components/schemas/Partial_TextOperators_'
        request_body:
          $ref: '#/components/schemas/Partial_TextOperators_'
        response_body:
          $ref: '#/components/schemas/Partial_TextOperators_'
        cache_enabled:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
        cache_reference_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        cached:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
        assets:
          $ref: '#/components/schemas/Partial_TextOperators_'
        helicone-score-feedback:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
        prompt_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_version:
          $ref: '#/components/schemas/Partial_TextOperators_'
        request_referrer:
          $ref: '#/components/schemas/Partial_TextOperators_'
        is_passthrough_billing:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
      type: object
      description: Make all properties in T optional
    Partial_SessionsRequestResponseRMTToOperators_:
      properties:
        session_session_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        session_session_name:
          $ref: '#/components/schemas/Partial_TextOperators_'
        session_total_cost:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        session_total_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        session_prompt_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        session_completion_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        session_total_requests:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        session_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        session_latest_request_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        session_tag:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_NodesToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        name:
          $ref: '#/components/schemas/Partial_TextOperators_'
        description:
          $ref: '#/components/schemas/Partial_TextOperators_'
        job_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        status:
          $ref: '#/components/schemas/Partial_TextOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        updated_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        timeout_seconds:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        custom_properties:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        org_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_ScoreValueToOperator_:
      properties:
        request_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_UserApiKeysTableToOperators_:
      properties:
        api_key_hash:
          $ref: '#/components/schemas/Partial_TextOperators_'
        api_key_name:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_ResponseTableToOperators_:
      properties:
        body_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        body_model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        body_completion:
          $ref: '#/components/schemas/Partial_TextOperators_'
        status:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_TablesAndViews_:
      properties:
        user_metrics:
          $ref: '#/components/schemas/Partial_UserMetricsToOperators_'
        user_api_keys:
          $ref: '#/components/schemas/Partial_UserApiKeysTableToOperators_'
        response:
          $ref: '#/components/schemas/Partial_ResponseTableToOperators_'
        request:
          $ref: '#/components/schemas/Partial_RequestTableToOperators_'
        feedback:
          $ref: '#/components/schemas/Partial_FeedbackTableToOperators_'
        properties_table:
          $ref: '#/components/schemas/Partial_PropertiesTableToOperators_'
        prompt_v2:
          $ref: '#/components/schemas/Partial_PromptToOperators_'
        prompts_versions:
          $ref: '#/components/schemas/Partial_PromptVersionsToOperators_'
        experiment:
          $ref: '#/components/schemas/Partial_ExperimentToOperators_'
        experiment_hypothesis_run:
          $ref: '#/components/schemas/Partial_ExperimentHypothesisRunToOperator_'
        score_value:
          $ref: '#/components/schemas/Partial_ScoreValueToOperator_'
        request_response_log:
          $ref: '#/components/schemas/Partial_RequestResponseLogToOperators_'
        request_response_rmt:
          $ref: '#/components/schemas/Partial_RequestResponseRMTToOperators_'
        sessions_request_response_rmt:
          $ref: '#/components/schemas/Partial_SessionsRequestResponseRMTToOperators_'
        users_view:
          $ref: '#/components/schemas/Partial_UserViewToOperators_'
        properties_v3:
          $ref: '#/components/schemas/Partial_PropertiesV3ToOperators_'
        property_with_response_v1:
          $ref: '#/components/schemas/Partial_PropertyWithResponseV1ToOperators_'
        job:
          $ref: '#/components/schemas/Partial_JobToOperators_'
        job_node:
          $ref: '#/components/schemas/Partial_NodesToOperators_'
        cache_metrics:
          $ref: '#/components/schemas/Partial_CacheMetricsTableToOperators_'
        rate_limit_log:
          $ref: '#/components/schemas/Partial_RateLimitTableToOperators_'
        organization_properties:
          $ref: '#/components/schemas/Partial_OrganizationPropertiesToOperators_'
        properties:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        values:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
      type: object
      description: Make all properties in T optional
    Partial_TextOperators_:
      properties:
        not-equals:
          type: string
        equals:
          type: string
        like:
          type: string
        ilike:
          type: string
        contains:
          type: string
        not-contains:
          type: string
      type: object
      description: Make all properties in T optional
    Partial_JobToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        name:
          $ref: '#/components/schemas/Partial_TextOperators_'
        description:
          $ref: '#/components/schemas/Partial_TextOperators_'
        status:
          $ref: '#/components/schemas/Partial_TextOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        updated_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        timeout_seconds:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        custom_properties:
          properties: {}
          additionalProperties:
            $ref: '#/components/schemas/Partial_TextOperators_'
          type: object
        org_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    FilterNode:
      anyOf:
      - $ref: '#/components/schemas/FilterLeaf'
      - $ref: '#/components/schemas/FilterBranch'
      - properties: {}
        type: object
      - type: string
        enum:
        - all
    ResultSuccess_ProviderMetric-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ProviderMetric'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Partial_FeedbackTableToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        rating:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
        response_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_TimestampOperators_:
      properties:
        equals:
          type: string
        gte:
          type: string
        lte:
          type: string
        lt:
          type: string
        gt:
          type: string
      type: object
      description: Make all properties in T optional
    Partial_PropertyWithResponseV1ToOperators_:
      properties:
        property_key:
          $ref: '#/components/schemas/Partial_TextOperators_'
        property_value:
          $ref: '#/components/schemas/Partial_TextOperators_'
        request_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        threat:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
      type: object
      description: Make all properties in T optional
    Partial_RateLimitTableToOperators_:
      properties:
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
      type: object
      description: Make all properties in T optional
    Partial_BooleanOperators_:
      properties:
        equals:
          type: boolean
      type: object
      description: Make all properties in T optional
    Partial_NumberOperators_:
      properties:
        not-equals:
          type: number
          format: double
        equals:
          type: number
          format: double
        gte:
          type: number
          format: double
        lte:
          type: number
          format: double
        lt:
          type: number
          format: double
        gt:
          type: number
          format: double
      type: object
      description: Make all properties in T optional
    Result_ProviderMetric-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ProviderMetric-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    SingleKey_TablesAndViews_:
      $ref: '#/components/schemas/Partial_TablesAndViews_'
    Partial_RequestResponseLogToOperators_:
      properties:
        latency:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        status:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        request_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        response_created_at:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        auth_hash:
          $ref: '#/components/schemas/Partial_TextOperators_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        node_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        job_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        threat:
          $ref: '#/components/schemas/Partial_BooleanOperators_'
      type: object
      description: Make all properties in T optional
    Partial_ExperimentToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_v2:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_PromptVersionsToOperators_:
      properties:
        minor_version:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        major_version:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_v2:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    ProviderMetric:
      properties:
        provider:
          type: string
        total_requests:
          type: number
          format: double
      required:
      - provider
      - total_requests
      type: object
      additionalProperties: false
    Partial_ExperimentHypothesisRunToOperator_:
      properties:
        result_request_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_CacheMetricsTableToOperators_:
      properties:
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        request_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        date:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        hour:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        cache_hit_count:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_latency_ms:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_completion_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_prompt_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_completion_audio_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_prompt_audio_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_prompt_cache_write_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        saved_prompt_cache_read_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        first_hit:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        last_hit:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        request_body:
          $ref: '#/components/schemas/Partial_TextOperators_'
        response_body:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_PromptToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        user_defined_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    ProviderQueryParams:
      properties:
        filter:
          $ref: '#/components/schemas/FilterNode'
        offset:
          type: number
          format: double
        limit:
          type: number
          format: double
        timeFilter:
          properties:
            end:
              type: string
            start:
              type: string
          required:
          - end
          - start
          type: object
      required:
      - filter
      - offset
      - limit
      - timeFilter
      type: object
      additionalProperties: false
    Partial_UserMetricsToOperators_:
      properties:
        user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        last_active:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        total_requests:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        active_for:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        average_requests_per_day_active:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        average_tokens_per_request:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        total_completion_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        total_prompt_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        cost:
          $ref: '#/components/schemas/Partial_NumberOperators_'
      type: object
      description: Make all properties in T optional
    Partial_OrganizationPropertiesToOperators_:
      properties:
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        property_key:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_PropertiesV3ToOperators_:
      properties:
        key:
          $ref: '#/components/schemas/Partial_TextOperators_'
        value:
          $ref: '#/components/schemas/Partial_TextOperators_'
        organization_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_TimestampOperatorsTyped_:
      properties:
        equals:
          type: string
          format: date-time
        gte:
          type: string
          format: date-time
        lte:
          type: string
          format: date-time
        lt:
          type: string
          format: date-time
        gt:
          type: string
          format: date-time
      type: object
      description: Make all properties in T optional
    FilterLeaf:
      $ref: '#/components/schemas/SingleKey_TablesAndViews_'
    FilterBranch:
      properties:
        left:
          $ref: '#/components/schemas/FilterNode'
        operator:
          type: string
          enum:
          - or
          - and
        right:
          $ref: '#/components/schemas/FilterNode'
      required:
      - left
      - operator
      - right
      type: object
      additionalProperties: false
    Partial_PropertiesTableToOperators_:
      properties:
        auth_hash:
          $ref: '#/components/schemas/Partial_TextOperators_'
        key:
          $ref: '#/components/schemas/Partial_TextOperators_'
        value:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    Partial_UserViewToOperators_:
      properties:
        user_user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        user_active_for:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_first_active:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        user_last_active:
          $ref: '#/components/schemas/Partial_TimestampOperatorsTyped_'
        user_total_requests:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_average_requests_per_day_active:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_average_tokens_per_request:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_total_completion_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_total_prompt_tokens:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        user_cost:
          $ref: '#/components/schemas/Partial_NumberOperators_'
      type: object
      description: Make all properties in T optional
    Partial_RequestTableToOperators_:
      properties:
        prompt:
          $ref: '#/components/schemas/Partial_TextOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        auth_hash:
          $ref: '#/components/schemas/Partial_TextOperators_'
        org_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        node_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        modelOverride:
          $ref: '#/components/schemas/Partial_TextOperators_'
        path:
          $ref: '#/components/schemas/Partial_TextOperators_'
        country_code:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
