openapi: 3.0.0
info:
  title: helicone-api Agent Prompt2025 API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Prompt2025
paths:
  /v1/prompt-2025/id/{promptId}:
    get:
      operationId: GetPrompt2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
  /v1/prompt-2025/id/{promptId}/rename:
    post:
      operationId: RenamePrompt2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              required:
              - name
              type: object
  /v1/prompt-2025/id/{promptId}/tags:
    patch:
      operationId: UpdatePrompt2025Tags
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string-Array.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                tags:
                  items:
                    type: string
                  type: array
              required:
              - tags
              type: object
  /v1/prompt-2025/{promptId}:
    delete:
      operationId: DeletePrompt2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
  /v1/prompt-2025/{promptId}/{versionId}:
    delete:
      operationId: DeletePrompt2025Version
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
      - in: path
        name: versionId
        required: true
        schema:
          type: string
  /v1/prompt-2025/id/{promptId}/{versionId}/inputs:
    get:
      operationId: GetPrompt2025Inputs
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Input.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptId
        required: true
        schema:
          type: string
      - in: path
        name: versionId
        required: true
        schema:
          type: string
      - in: query
        name: requestId
        required: true
        schema:
          type: string
  /v1/prompt-2025/tags:
    get:
      operationId: GetPrompt2025Tags
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string-Array.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
  /v1/prompt-2025/environments:
    get:
      operationId: GetPrompt2025Environments
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string-Array.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
  /v1/prompt-2025:
    post:
      operationId: CreatePrompt2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PromptCreateResponse.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptBody:
                  $ref: '#/components/schemas/OpenAIChatRequest'
                tags:
                  items:
                    type: string
                  type: array
                name:
                  type: string
              required:
              - promptBody
              - tags
              - name
              type: object
  /v1/prompt-2025/update:
    post:
      operationId: UpdatePrompt2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__id-string_.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptBody:
                  $ref: '#/components/schemas/OpenAIChatRequest'
                commitMessage:
                  type: string
                environment:
                  type: string
                newMajorVersion:
                  type: boolean
                promptVersionId:
                  type: string
                promptId:
                  type: string
              required:
              - promptBody
              - commitMessage
              - newMajorVersion
              - promptVersionId
              - promptId
              type: object
  /v1/prompt-2025/update/environment:
    post:
      operationId: SetPromptVersionEnvironment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                environment:
                  type: string
                promptVersionId:
                  type: string
                promptId:
                  type: string
              required:
              - environment
              - promptVersionId
              - promptId
              type: object
  /v1/prompt-2025/remove/environment:
    post:
      operationId: RemoveEnvironmentFromVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                environment:
                  type: string
                promptVersionId:
                  type: string
                promptId:
                  type: string
              required:
              - environment
              - promptVersionId
              - promptId
              type: object
  /v1/prompt-2025/count:
    get:
      operationId: GetPrompt2025Count
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_number.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
  /v1/prompt-2025/query:
    post:
      operationId: GetPrompts2025
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025-Array.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                pageSize:
                  type: number
                  format: double
                page:
                  type: number
                  format: double
                tagsFilter:
                  items:
                    type: string
                  type: array
                search:
                  type: string
              required:
              - pageSize
              - page
              - tagsFilter
              - search
              type: object
  /v1/prompt-2025/query/version:
    post:
      operationId: GetPrompt2025Version
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptVersionId:
                  type: string
              required:
              - promptVersionId
              type: object
  /v1/prompt-2025/query/environment-version:
    post:
      operationId: GetPrompt2025EnvironmentVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                environment:
                  type: string
                promptId:
                  type: string
              required:
              - environment
              - promptId
              type: object
  /v1/prompt-2025/query/versions:
    post:
      operationId: GetPrompt2025Versions
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version-Array.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                majorVersion:
                  type: number
                  format: double
                promptId:
                  type: string
              required:
              - promptId
              type: object
  /v1/prompt-2025/query/production-version:
    post:
      operationId: GetPrompt2025ProductionVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptId:
                  type: string
              required:
              - promptId
              type: object
  /v1/prompt-2025/query/total-versions:
    post:
      operationId: GetPrompt2025TotalVersions
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PromptVersionCounts.string_'
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptId:
                  type: string
              required:
              - promptId
              type: object
  /v1/prompt-2025/{promptVersionId}/prompt-body:
    get:
      operationId: GetPrompt2025VersionBody
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Prompt2025Version_91_prompt_body_93_.string_'
      description: Get the full prompt body (messages, tools, etc.) for a specific prompt version.
      tags:
      - Prompt2025
      security:
      - api_key: []
      parameters:
      - in: path
        name: promptVersionId
        required: true
        schema:
          type: string
components:
  schemas:
    Result__id-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__id-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    OpenAIChatRequest:
      description: Simplified interface for the OpenAI Chat request format
      properties:
        model:
          type: string
        messages:
          items:
            properties:
              tool_calls:
                items:
                  properties:
                    type:
                      type: string
                      enum:
                      - function
                      nullable: false
                    function:
                      properties:
                        arguments:
                          type: string
                        name:
                          type: string
                      required:
                      - arguments
                      - name
                      type: object
                    id:
                      type: string
                  required:
                  - type
                  - function
                  - id
                  type: object
                type: array
              tool_call_id:
                type: string
              name:
                type: string
              content:
                anyOf:
                - type: string
                - items:
                    properties:
                      image_url:
                        properties:
                          url:
                            type: string
                        required:
                        - url
                        type: object
                      text:
                        type: string
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  type: array
                nullable: true
              role:
                type: string
            required:
            - content
            - role
            type: object
          type: array
        temperature:
          type: number
          format: double
        top_p:
          type: number
          format: double
        max_tokens:
          type: number
          format: double
        max_completion_tokens:
          type: number
          format: double
        stream:
          type: boolean
        stop:
          anyOf:
          - items:
              type: string
            type: array
          - type: string
        tools:
          items:
            properties:
              function:
                properties:
                  strict:
                    type: boolean
                  parameters:
                    $ref: '#/components/schemas/Record_string.any_'
                  description:
                    type: string
                  name:
                    type: string
                required:
                - name
                type: object
              type:
                type: string
                enum:
                - function
                nullable: false
            required:
            - function
            - type
            type: object
          type: array
        tool_choice:
          anyOf:
          - properties:
              function:
                properties:
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                    - function
                    nullable: false
                required:
                - name
                - type
                type: object
              type:
                type: string
            required:
            - type
            type: object
          - type: string
            enum:
            - none
            - auto
            - required
        parallel_tool_calls:
          type: boolean
        reasoning_effort:
          type: string
          enum:
          - minimal
          - low
          - medium
          - high
        verbosity:
          type: string
          enum:
          - low
          - medium
          - high
        frequency_penalty:
          type: number
          format: double
        presence_penalty:
          type: number
          format: double
        logit_bias:
          $ref: '#/components/schemas/Record_string.number_'
        logprobs:
          type: boolean
        top_logprobs:
          type: number
          format: double
        n:
          type: number
          format: double
        modalities:
          items:
            type: string
          type: array
        prediction: {}
        audio: {}
        response_format:
          properties:
            json_schema: {}
            type:
              type: string
          required:
          - type
          type: object
        seed:
          type: number
          format: double
        service_tier:
          type: string
        store:
          type: boolean
        stream_options: {}
        metadata:
          $ref: '#/components/schemas/Record_string.string_'
        user:
          type: string
        function_call:
          anyOf:
          - type: string
          - properties:
              name:
                type: string
            required:
            - name
            type: object
        functions:
          items: {}
          type: array
      type: object
      additionalProperties: false
    Result_string-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_string-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Record_string.unknown_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    ResultSuccess_Prompt2025Version_:
      properties:
        data:
          $ref: '#/components/schemas/Prompt2025Version'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    PromptCreateResponse:
      properties:
        id:
          type: string
        versionId:
          type: string
      required:
      - id
      - versionId
      type: object
      additionalProperties: false
    Result_PromptCreateResponse.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_PromptCreateResponse_'
      - $ref: '#/components/schemas/ResultError_string_'
    Prompt2025:
      properties:
        id:
          type: string
        name:
          type: string
        tags:
          items:
            type: string
          type: array
        created_at:
          type: string
      required:
      - id
      - name
      - tags
      - created_at
      type: object
      additionalProperties: false
    Result_PromptVersionCounts.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_PromptVersionCounts_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_Prompt2025_:
      properties:
        data:
          $ref: '#/components/schemas/Prompt2025'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Record_string.any_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    Result_Prompt2025Version_91_prompt_body_93_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025Version_91_prompt_body_93__'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Prompt2025Input.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025Input_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Prompt2025Version.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025Version_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess__id-string__:
      properties:
        data:
          properties:
            id:
              type: string
          required:
          - id
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_Prompt2025Version_91_prompt_body_93__:
      properties:
        data:
          $ref: '#/components/schemas/Prompt2025VersionPromptBody'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Prompt2025Version:
      properties:
        id:
          type: string
        model:
          type: string
        prompt_id:
          type: string
        major_version:
          type: number
          format: double
        minor_version:
          type: number
          format: double
        commit_message:
          type: string
        environments:
          items:
            type: string
          type: array
        created_at:
          type: string
        s3_url:
          type: string
        prompt_body:
          $ref: '#/components/schemas/Prompt2025VersionPromptBody'
          description: 'The full prompt body including messages. Only included when explicitly requested

            via the `includePromptBody` parameter to avoid unnecessary data transfer.'
      required:
      - id
      - model
      - prompt_id
      - major_version
      - minor_version
      - commit_message
      - created_at
      type: object
      additionalProperties: false
    Result_Prompt2025Version-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025Version-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Prompt2025VersionPromptBody:
      properties:
        model:
          type: string
        messages:
          items:
            properties:
              tool_calls:
                items:
                  properties:
                    type:
                      type: string
                      enum:
                      - function
                      nullable: false
                    function:
                      properties:
                        arguments:
                          type: string
                        name:
                          type: string
                      required:
                      - arguments
                      - name
                      type: object
                    id:
                      type: string
                  required:
                  - type
                  - function
                  - id
                  type: object
                type: array
              tool_call_id:
                type: string
              name:
                type: string
              content:
                anyOf:
                - type: string
                - items:
                    properties:
                      image_url:
                        properties:
                          url:
                            type: string
                        required:
                        - url
                        type: object
                      text:
                        type: string
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  type: array
                nullable: true
              role:
                type: string
            required:
            - content
            - role
            type: object
          type: array
        temperature:
          type: number
          format: double
        top_p:
          type: number
          format: double
        max_tokens:
          type: number
          format: double
        tools:
          items:
            properties:
              function:
                properties:
                  parameters:
                    $ref: '#/components/schemas/Record_string.unknown_'
                  description:
                    type: string
                  name:
                    type: string
                required:
                - parameters
                - description
                - name
                type: object
              type:
                type: string
                enum:
                - function
                nullable: false
            required:
            - function
            - type
            type: object
          type: array
        tool_choice:
          anyOf:
          - type: string
          - properties:
              function:
                properties:
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                    - function
                    nullable: false
                required:
                - name
                - type
                type: object
              type:
                type: string
            required:
            - type
            type: object
      type: object
      additionalProperties: {}
    PromptVersionCounts:
      properties:
        totalVersions:
          type: number
          format: double
        majorVersions:
          type: number
          format: double
      required:
      - totalVersions
      - majorVersions
      type: object
      additionalProperties: false
    ResultSuccess_null_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_Prompt2025Input_:
      properties:
        data:
          $ref: '#/components/schemas/Prompt2025Input'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Record_string.number_:
      properties: {}
      additionalProperties:
        type: number
        format: double
      type: object
      description: Construct a type with a set of properties K of type T
    Prompt2025Input:
      properties:
        request_id:
          type: string
        version_id:
          type: string
        inputs:
          $ref: '#/components/schemas/Record_string.any_'
      required:
      - request_id
      - version_id
      - inputs
      type: object
      additionalProperties: false
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
    ResultSuccess_Prompt2025-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Prompt2025'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_string-Array_:
      properties:
        data:
          items:
            type: string
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_PromptCreateResponse_:
      properties:
        data:
          $ref: '#/components/schemas/PromptCreateResponse'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_PromptVersionCounts_:
      properties:
        data:
          $ref: '#/components/schemas/PromptVersionCounts'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_number.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_number_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_Prompt2025Version-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Prompt2025Version'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_number_:
      properties:
        data:
          type: number
          format: double
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_Prompt2025-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Prompt2025.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Prompt2025_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
