openapi: 3.2.0
info:
  title: helicone-api Webhooks API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Webhooks
paths:
  /v1/webhooks:
    post:
      operationId: NewWebhook
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ResultSuccess_unknown_'
                - $ref: '#/components/schemas/ResultError_unknown_'
      tags:
      - Webhooks
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookData'
      summary: New webhook
      x-summary-source: derived
    get:
      operationId: GetWebhooks
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__id-string--created_at-string--destination-string--version-string--config-string--hmac_key-string_-Array.string_'
      tags:
      - Webhooks
      security:
      - api_key: []
      parameters: []
      summary: Get webhooks
      x-summary-source: derived
  /v1/webhooks/{webhookId}:
    delete:
      operationId: DeleteWebhook
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Webhooks
      security:
      - api_key: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      summary: Delete webhook
      x-summary-source: derived
  /v1/webhooks/{webhookId}/test:
    post:
      operationId: TestWebhook
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__success-boolean--message-string_.string_'
      tags:
      - Webhooks
      security:
      - api_key: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
      summary: Test webhook
      x-summary-source: derived
components:
  schemas:
    Result__id-string--created_at-string--destination-string--version-string--config-string--hmac_key-string_-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__id-string--created_at-string--destination-string--version-string--config-string--hmac_key-string_-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_null_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess__success-boolean--message-string__:
      properties:
        data:
          properties:
            message:
              type: string
            success:
              type: boolean
          required:
          - message
          - success
          type: object
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_unknown_:
      properties:
        data: {}
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess__id-string--created_at-string--destination-string--version-string--config-string--hmac_key-string_-Array_:
      properties:
        data:
          items:
            properties:
              hmac_key:
                type: string
              config:
                type: string
              version:
                type: string
              destination:
                type: string
              created_at:
                type: string
              id:
                type: string
            required:
            - hmac_key
            - config
            - version
            - destination
            - created_at
            - id
            type: object
          type: array
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_unknown_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error: {}
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Record_string.any_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    WebhookData:
      properties:
        destination:
          type: string
        config:
          $ref: '#/components/schemas/Record_string.any_'
        includeData:
          type: boolean
      required:
      - destination
      - config
      type: object
      additionalProperties: false
    Result__success-boolean--message-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__success-boolean--message-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
