openapi: 3.2.0
info:
  title: helicone-api Vault API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Vault
paths:
  /v1/vault/add:
    post:
      operationId: AddKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__id-string_.string_'
      tags:
      - Vault
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVaultKeyParams'
      summary: Add key
      x-summary-source: derived
  /v1/vault/keys:
    get:
      operationId: GetKeys
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_DecryptedProviderKey-Array.string_'
      tags:
      - Vault
      security:
      - api_key: []
      parameters: []
      summary: Get keys
      x-summary-source: derived
  /v1/vault/key/{providerKeyId}:
    get:
      operationId: GetKeyById
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_DecryptedProviderKey.string_'
      tags:
      - Vault
      security:
      - api_key: []
      parameters:
      - in: path
        name: providerKeyId
        required: true
        schema:
          type: string
      summary: Get key by id
      x-summary-source: derived
  /v1/vault/update/{id}:
    patch:
      operationId: UpdateKey
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Vault
      security:
      - api_key: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                active:
                  type: boolean
                name:
                  type: string
                key:
                  type: string
              type: object
      summary: Update key
      x-summary-source: derived
components:
  schemas:
    DecryptedProviderKey:
      properties:
        cuid:
          type:
          - string
          - 'null'
        provider_secret_key:
          type:
          - string
          - 'null'
        provider_key_name:
          type:
          - string
          - 'null'
        provider_name:
          type:
          - string
          - 'null'
        provider_key:
          type:
          - string
          - 'null'
        org_id:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
      required:
      - provider_secret_key
      - provider_key_name
      - provider_name
      - provider_key
      - org_id
      - id
      type: object
    Result_DecryptedProviderKey-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_DecryptedProviderKey-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess__id-string__:
      properties:
        data:
          properties:
            id:
              type: string
          required:
          - id
          type: object
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_null_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result__id-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__id-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    AddVaultKeyParams:
      properties:
        key:
          type: string
        provider:
          type: string
        name:
          type: string
      required:
      - key
      - provider
      type: object
      additionalProperties: false
    ResultSuccess_DecryptedProviderKey_:
      properties:
        data:
          $ref: '#/components/schemas/DecryptedProviderKey'
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_DecryptedProviderKey.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_DecryptedProviderKey_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_DecryptedProviderKey-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DecryptedProviderKey'
          type: array
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultError_string_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
