openapi: 3.0.0
info:
  title: helicone-api Agent Experiment API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Experiment
paths:
  /v2/experiment/create/empty:
    post:
      operationId: CreateEmptyExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
  /v2/experiment/create/from-request/{requestId}:
    post:
      operationId: CreateExperimentFromRequest
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: requestId
        required: true
        schema:
          type: string
  /v2/experiment/new:
    post:
      operationId: CreateNewExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                originalPromptVersion:
                  type: string
                name:
                  type: string
              required:
              - originalPromptVersion
              - name
              type: object
  /v2/experiment:
    get:
      operationId: GetExperiments
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExperimentV2-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
  /v2/experiment/{experimentId}:
    delete:
      operationId: DeleteExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
    get:
      operationId: GetExperimentById
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExtendedExperimentData.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/prompt-version:
    post:
      operationId: CreateNewPromptVersionForExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PromptVersionResult.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNewPromptVersionForExperimentParams'
  /v2/experiment/{experimentId}/prompt-version/{promptVersionId}:
    delete:
      operationId: DeletePromptVersion
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: promptVersionId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/prompt-versions:
    get:
      operationId: GetPromptVersionsForExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExperimentV2PromptVersion-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/input-keys:
    get:
      operationId: GetInputKeysForExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/add-manual-row:
    post:
      operationId: AddManualRowToExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputs:
                  $ref: '#/components/schemas/Record_string.string_'
              required:
              - inputs
              type: object
  /v2/experiment/{experimentId}/add-manual-rows-batch:
    post:
      operationId: AddManualRowsToExperimentBatch
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputs:
                  items:
                    $ref: '#/components/schemas/Record_string.string_'
                  type: array
              required:
              - inputs
              type: object
  /v2/experiment/{experimentId}/rows:
    delete:
      operationId: DeleteExperimentTableRows
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputRecordIds:
                  items:
                    type: string
                  type: array
              required:
              - inputRecordIds
              type: object
  /v2/experiment/{experimentId}/row/insert/batch:
    post:
      operationId: CreateExperimentTableRowBatch
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                rows:
                  items:
                    properties:
                      autoInputs:
                        items: {}
                        type: array
                      inputs:
                        $ref: '#/components/schemas/Record_string.string_'
                      inputRecordId:
                        type: string
                    required:
                    - autoInputs
                    - inputs
                    - inputRecordId
                    type: object
                  type: array
              required:
              - rows
              type: object
  /v2/experiment/{experimentId}/row/insert/dataset/{datasetId}:
    post:
      operationId: CreateExperimentTableRowFromDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/row/update:
    post:
      operationId: UpdateExperimentTableRow
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputs:
                  $ref: '#/components/schemas/Record_string.string_'
                inputRecordId:
                  type: string
              required:
              - inputs
              - inputRecordId
              type: object
  /v2/experiment/{experimentId}/run-hypothesis:
    post:
      operationId: RunHypothesis
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputRecordId:
                  type: string
                promptVersionId:
                  type: string
              required:
              - inputRecordId
              - promptVersionId
              type: object
  /v2/experiment/{experimentId}/evaluators:
    get:
      operationId: GetExperimentEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
    post:
      operationId: CreateExperimentEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                evaluatorId:
                  type: string
              required:
              - evaluatorId
              type: object
  /v2/experiment/{experimentId}/evaluators/{evaluatorId}:
    delete:
      operationId: DeleteExperimentEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/evaluators/run:
    post:
      operationId: RunExperimentEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/should-run-evaluators:
    get:
      operationId: ShouldRunEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_boolean.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/{promptVersionId}/scores:
    get:
      operationId: GetExperimentPromptVersionScores
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Record_string.ScoreV2_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: promptVersionId
        required: true
        schema:
          type: string
  /v2/experiment/{experimentId}/{requestId}/{scoreKey}:
    get:
      operationId: GetExperimentScore
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ScoreV2-or-null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: requestId
        required: true
        schema:
          type: string
      - in: path
        name: scoreKey
        required: true
        schema:
          type: string
  /v1/experiment/new-empty:
    post:
      operationId: CreateNewEmptyExperiment
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                datasetId:
                  type: string
                metadata:
                  $ref: '#/components/schemas/Record_string.string_'
              required:
              - datasetId
              - metadata
              type: object
  /v1/experiment/table/new:
    post:
      operationId: CreateNewExperimentTable
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__tableId-string--experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExperimentTableParams'
  /v1/experiment/table/{experimentTableId}/query:
    post:
      operationId: GetExperimentTableById
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExperimentTable.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
  /v1/experiment/table/{experimentTableId}/metadata/query:
    post:
      operationId: GetExperimentTableMetadata
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExperimentTableSimplified.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
  /v1/experiment/tables/query:
    post:
      operationId: GetExperimentTables
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ExperimentTableSimplified-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
  /v1/experiment/table/{experimentTableId}/cell:
    post:
      operationId: CreateExperimentCell
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                value:
                  type: string
                  nullable: true
                rowIndex:
                  type: number
                  format: double
                columnId:
                  type: string
              required:
              - value
              - rowIndex
              - columnId
              type: object
    patch:
      operationId: UpdateExperimentCell
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                updateInputs:
                  type: boolean
                metadata:
                  type: string
                value:
                  type: string
                status:
                  type: string
                cellId:
                  type: string
              required:
              - cellId
              type: object
  /v1/experiment/table/{experimentTableId}/column:
    post:
      operationId: CreateExperimentColumn
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputKeys:
                  items:
                    type: string
                  type: array
                promptVersionId:
                  type: string
                hypothesisId:
                  type: string
                columnType:
                  type: string
                columnName:
                  type: string
              required:
              - columnType
              - columnName
              type: object
  /v1/experiment/table/{experimentTableId}/row/new:
    post:
      operationId: CreateExperimentTableRow
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                inputs:
                  $ref: '#/components/schemas/Record_string.string_'
                sourceRequest:
                  type: string
                promptVersionId:
                  type: string
              required:
              - promptVersionId
              type: object
  /v1/experiment/table/{experimentTableId}/row/{rowIndex}:
    delete:
      operationId: DeleteExperimentTableRow
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      - in: path
        name: rowIndex
        required: true
        schema:
          format: double
          type: number
  /v1/experiment/table/{experimentTableId}/row/insert/batch:
    post:
      operationId: CreateExperimentTableRowWithCellsBatch
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentTableId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                rows:
                  items:
                    properties:
                      sourceRequest:
                        type: string
                      cells:
                        items:
                          properties:
                            metadata: {}
                            value:
                              type: string
                              nullable: true
                            columnId:
                              type: string
                          required:
                          - value
                          - columnId
                          type: object
                        type: array
                      datasetId:
                        type: string
                      inputs:
                        $ref: '#/components/schemas/Record_string.string_'
                      inputRecordId:
                        type: string
                    required:
                    - cells
                    - datasetId
                    - inputs
                    - inputRecordId
                    type: object
                  type: array
              required:
              - rows
              type: object
  /v1/experiment/update-meta:
    post:
      operationId: UpdateExperimentMeta
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ResultError_string_'
                - $ref: '#/components/schemas/ResultSuccess_unknown_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                meta:
                  $ref: '#/components/schemas/Record_string.string_'
                experimentId:
                  type: string
              required:
              - meta
              - experimentId
              type: object
  /v1/experiment:
    post:
      operationId: CreateNewExperimentOld
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__experimentId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExperimentParams'
  /v1/experiment/hypothesis:
    post:
      operationId: CreateNewExperimentHypothesis
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__hypothesisId-string_.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                status:
                  type: string
                  enum:
                  - PENDING
                  - RUNNING
                  - COMPLETED
                  - FAILED
                providerKeyId:
                  type: string
                promptVersion:
                  type: string
                model:
                  type: string
                experimentId:
                  type: string
              required:
              - status
              - providerKeyId
              - promptVersion
              - model
              - experimentId
              type: object
  /v1/experiment/hypothesis/{hypothesisId}/scores/query:
    post:
      operationId: GetExperimentHypothesisScores
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__runsCount-number--scores-Record_string.Score__.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: hypothesisId
        required: true
        schema:
          type: string
  /v1/experiment/{experimentId}/evaluators:
    get:
      operationId: GetExperimentEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
    post:
      operationId: CreateExperimentEvaluatorOld
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                evaluatorId:
                  type: string
              required:
              - evaluatorId
              type: object
  /v1/experiment/{experimentId}/evaluators/run:
    post:
      operationId: RunExperimentEvaluatorsOld
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
  /v1/experiment/{experimentId}/evaluators/{evaluatorId}:
    delete:
      operationId: DeleteExperimentEvaluatorOld
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters:
      - in: path
        name: experimentId
        required: true
        schema:
          type: string
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
  /v1/experiment/query:
    post:
      operationId: GetExperimentsOld
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Experiment-Array.string_'
      tags:
      - Experiment
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                include:
                  $ref: '#/components/schemas/IncludeExperimentKeys'
                filter:
                  $ref: '#/components/schemas/ExperimentFilterNode'
              required:
              - filter
              type: object
components:
  schemas:
    ResultSuccess_ExperimentTable_:
      properties:
        data:
          $ref: '#/components/schemas/ExperimentTable'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result__tableId-string--experimentId-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__tableId-string--experimentId-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_unknown_:
      properties:
        data: {}
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ExperimentFilterNode:
      anyOf:
      - $ref: '#/components/schemas/FilterLeafSubset_experiment_'
      - $ref: '#/components/schemas/ExperimentFilterBranch'
      - type: string
        enum:
        - all
    ExperimentV2PromptVersion:
      properties:
        created_at:
          type: string
          nullable: true
        experiment_id:
          type: string
          nullable: true
        helicone_template:
          allOf:
          - $ref: '#/components/schemas/Json'
          nullable: true
        id:
          type: string
        major_version:
          type: number
          format: double
        metadata:
          allOf:
          - $ref: '#/components/schemas/Json'
          nullable: true
        minor_version:
          type: number
          format: double
        model:
          type: string
          nullable: true
        organization:
          type: string
        prompt_v2:
          type: string
        soft_delete:
          type: boolean
          nullable: true
      required:
      - created_at
      - experiment_id
      - helicone_template
      - id
      - major_version
      - metadata
      - minor_version
      - model
      - organization
      - prompt_v2
      - soft_delete
      type: object
      additionalProperties: false
    Result_Record_string.ScoreV2_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Record_string.ScoreV2__'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_string-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_string-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    NewExperimentParams:
      properties:
        datasetId:
          type: string
        promptVersion:
          type: string
        model:
          type: string
        providerKeyId:
          type: string
        meta: {}
      required:
      - datasetId
      - promptVersion
      - model
      - providerKeyId
      type: object
      additionalProperties: false
    Result_ScoreV2-or-null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ScoreV2-or-null_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_boolean_:
      properties:
        data:
          type: boolean
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Record_string.ScoreV2_:
      properties: {}
      additionalProperties:
        $ref: '#/components/schemas/ScoreV2'
      type: object
      description: Construct a type with a set of properties K of type T
    ExperimentV2:
      properties:
        id:
          type: string
        name:
          type: string
        original_prompt_version:
          type: string
        copied_original_prompt_version:
          type: string
          nullable: true
        input_keys:
          items:
            type: string
          type: array
          nullable: true
        created_at:
          type: string
      required:
      - id
      - name
      - original_prompt_version
      - copied_original_prompt_version
      - input_keys
      - created_at
      type: object
      additionalProperties: false
    Result_ExperimentTable.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExperimentTable_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_ExtendedExperimentData_:
      properties:
        data:
          $ref: '#/components/schemas/ExtendedExperimentData'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Pick_FilterLeaf.experiment_:
      properties:
        experiment:
          $ref: '#/components/schemas/Partial_ExperimentToOperators_'
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    Experiment:
      properties:
        id:
          type: string
        organization:
          type: string
        dataset:
          properties:
            rows:
              items:
                $ref: '#/components/schemas/ExperimentDatasetRow'
              type: array
            name:
              type: string
            id:
              type: string
          required:
          - rows
          - name
          - id
          type: object
        meta: {}
        createdAt:
          type: string
        hypotheses:
          items:
            properties:
              runs:
                items:
                  properties:
                    request:
                      $ref: '#/components/schemas/RequestObj'
                    scores:
                      $ref: '#/components/schemas/Record_string.Score_'
                    response:
                      $ref: '#/components/schemas/ResponseObj'
                    resultRequestId:
                      type: string
                    datasetRowId:
                      type: string
                  required:
                  - scores
                  - resultRequestId
                  - datasetRowId
                  type: object
                type: array
              providerKey:
                type: string
              createdAt:
                type: string
              status:
                type: string
              model:
                type: string
              parentPromptVersion:
                properties:
                  template: {}
                required:
                - template
                type: object
              promptVersion:
                properties:
                  template: {}
                required:
                - template
                type: object
              promptVersionId:
                type: string
              id:
                type: string
            required:
            - runs
            - providerKey
            - createdAt
            - status
            - model
            - promptVersionId
            - id
            type: object
          type: array
        scores:
          allOf:
          - $ref: '#/components/schemas/ExperimentScores'
          nullable: true
        tableId:
          type: string
          nullable: true
      required:
      - id
      - organization
      - dataset
      - meta
      - createdAt
      - hypotheses
      - scores
      - tableId
      type: object
      additionalProperties: false
    ResultSuccess_ScoreV2-or-null_:
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/ScoreV2'
          nullable: true
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Partial_TextOperators_:
      properties:
        not-equals:
          type: string
        equals:
          type: string
        like:
          type: string
        ilike:
          type: string
        contains:
          type: string
        not-contains:
          type: string
      type: object
      description: Make all properties in T optional
    ExperimentV2Row:
      properties:
        id:
          type: string
        inputs:
          $ref: '#/components/schemas/Record_string.string_'
        prompt_version:
          type: string
        requests:
          items:
            $ref: '#/components/schemas/ExperimentV2Output'
          type: array
        auto_prompt_inputs:
          items: {}
          type: array
      required:
      - id
      - inputs
      - prompt_version
      - requests
      - auto_prompt_inputs
      type: object
      additionalProperties: false
    ResultSuccess__runsCount-number--scores-Record_string.Score___:
      properties:
        data:
          properties:
            scores:
              $ref: '#/components/schemas/Record_string.Score_'
            runsCount:
              type: number
              format: double
          required:
          - scores
          - runsCount
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess__tableId-string--experimentId-string__:
      properties:
        data:
          properties:
            experimentId:
              type: string
            tableId:
              type: string
          required:
          - experimentId
          - tableId
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    IncludeExperimentKeys:
      properties:
        inputs:
          type: boolean
          enum:
          - true
          nullable: false
        promptVersion:
          type: boolean
          enum:
          - true
          nullable: false
        responseBodies:
          type: boolean
          enum:
          - true
          nullable: false
        score:
          type: boolean
          enum:
          - true
          nullable: false
      type: object
      additionalProperties: false
    ExtendedExperimentData:
      properties:
        id:
          type: string
        name:
          type: string
        original_prompt_version:
          type: string
        copied_original_prompt_version:
          type: string
          nullable: true
        input_keys:
          items:
            type: string
          type: array
          nullable: true
        created_at:
          type: string
        rows:
          items:
            $ref: '#/components/schemas/ExperimentV2Row'
          type: array
      required:
      - id
      - name
      - original_prompt_version
      - copied_original_prompt_version
      - input_keys
      - created_at
      - rows
      type: object
      additionalProperties: false
    CreateNewPromptVersionForExperimentParams:
      properties:
        newHeliconeTemplate: {}
        isMajorVersion:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Record_string.any_'
        experimentId:
          type: string
        bumpForMajorPromptVersionId:
          type: string
        parentPromptVersionId:
          type: string
      required:
      - newHeliconeTemplate
      - parentPromptVersionId
      type: object
      additionalProperties: false
    Result_ExperimentV2-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExperimentV2-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Record_string.any_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    ResultSuccess__experimentId-string__:
      properties:
        data:
          properties:
            experimentId:
              type: string
          required:
          - experimentId
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ExperimentTableSimplified:
      properties:
        id:
          type: string
        name:
          type: string
        experimentId:
          type: string
        createdAt:
          type: string
        metadata: {}
        columns:
          items:
            properties:
              columnType:
                type: string
              columnName:
                type: string
              id:
                type: string
            required:
            - columnType
            - columnName
            - id
            type: object
          type: array
      required:
      - id
      - name
      - experimentId
      - createdAt
      - columns
      type: object
      additionalProperties: false
    ResultSuccess_Experiment-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Experiment'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_boolean.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_boolean_'
      - $ref: '#/components/schemas/ResultError_string_'
    Json:
      anyOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      - properties: {}
        additionalProperties:
          $ref: '#/components/schemas/Json'
        type: object
      - items:
          $ref: '#/components/schemas/Json'
        type: array
      nullable: true
    Result_string.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_string_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Experiment-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Experiment-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_ExperimentV2-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExperimentV2'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Partial_ExperimentToOperators_:
      properties:
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_v2:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    ResultSuccess_ExperimentTableSimplified_:
      properties:
        data:
          $ref: '#/components/schemas/ExperimentTableSimplified'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_PromptVersionResult_:
      properties:
        data:
          $ref: '#/components/schemas/PromptVersionResult'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result__hypothesisId-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__hypothesisId-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    ExperimentScores:
      properties:
        dataset:
          properties:
            scores:
              $ref: '#/components/schemas/Record_string.Score_'
          required:
          - scores
          type: object
        hypothesis:
          properties:
            scores:
              $ref: '#/components/schemas/Record_string.Score_'
            runsCount:
              type: number
              format: double
          required:
          - scores
          - runsCount
          type: object
      required:
      - dataset
      - hypothesis
      type: object
      additionalProperties: false
    ExperimentV2Output:
      properties:
        id:
          type: string
        request_id:
          type: string
        is_original:
          type: boolean
        prompt_version_id:
          type: string
        created_at:
          type: string
        input_record_id:
          type: string
      required:
      - id
      - request_id
      - is_original
      - prompt_version_id
      - created_at
      - input_record_id
      type: object
      additionalProperties: false
    Result_PromptVersionResult.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_PromptVersionResult_'
      - $ref: '#/components/schemas/ResultError_string_'
    ScoreV2:
      properties:
        valueType:
          type: string
        value:
          anyOf:
          - type: number
            format: double
          - type: string
            format: date-time
          - type: string
        max:
          type: number
          format: double
        min:
          type: number
          format: double
      required:
      - valueType
      - value
      - max
      - min
      type: object
      additionalProperties: false
    ExperimentFilterBranch:
      properties:
        right:
          $ref: '#/components/schemas/ExperimentFilterNode'
        operator:
          type: string
          enum:
          - or
          - and
        left:
          $ref: '#/components/schemas/ExperimentFilterNode'
      required:
      - right
      - operator
      - left
      type: object
    Record_string.Score_:
      properties: {}
      additionalProperties:
        $ref: '#/components/schemas/Score'
      type: object
      description: Construct a type with a set of properties K of type T
    ResultSuccess_ExperimentV2PromptVersion-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExperimentV2PromptVersion'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_ExperimentV2PromptVersion-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExperimentV2PromptVersion-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_null_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    CreateExperimentTableParams:
      properties:
        datasetId:
          type: string
        experimentMetadata:
          $ref: '#/components/schemas/Record_string.any_'
        promptVersionId:
          type: string
        newHeliconeTemplate:
          type: string
        isMajorVersion:
          type: boolean
        promptSubversionMetadata:
          $ref: '#/components/schemas/Record_string.any_'
        experimentTableMetadata:
          $ref: '#/components/schemas/Record_string.any_'
      required:
      - datasetId
      - experimentMetadata
      - promptVersionId
      - newHeliconeTemplate
      - isMajorVersion
      - promptSubversionMetadata
      type: object
      additionalProperties: false
    ExperimentDatasetRow:
      properties:
        rowId:
          type: string
        inputRecord:
          properties:
            request:
              $ref: '#/components/schemas/RequestObj'
            response:
              $ref: '#/components/schemas/ResponseObj'
            autoInputs:
              items:
                $ref: '#/components/schemas/Record_string.string_'
              type: array
            inputs:
              $ref: '#/components/schemas/Record_string.string_'
            requestPath:
              type: string
            requestId:
              type: string
            id:
              type: string
          required:
          - request
          - response
          - autoInputs
          - inputs
          - requestPath
          - requestId
          - id
          type: object
        rowIndex:
          type: number
          format: double
        columnId:
          type: string
        scores:
          $ref: '#/components/schemas/Record_string.Score_'
      required:
      - rowId
      - inputRecord
      - rowIndex
      - columnId
      - scores
      type: object
      additionalProperties: false
    Result__runsCount-number--scores-Record_string.Score__.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__runsCount-number--scores-Record_string.Score___'
      - $ref: '#/components/schemas/ResultError_string_'
    ExperimentTable:
      properties:
        id:
          type: string
        name:
          type: string
        experimentId:
          type: string
        columns:
          items:
            $ref: '#/components/schemas/ExperimentTableColumn'
          type: array
        metadata:
          $ref: '#/components/schemas/Record_string.any_'
      required:
      - id
      - name
      - experimentId
      - columns
      type: object
      additionalProperties: false
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
    Result_ExtendedExperimentData.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExtendedExperimentData_'
      - $ref: '#/components/schemas/ResultError_string_'
    PromptVersionResult:
      properties:
        id:
          type: string
        minor_version:
          type: number
          format: double
        major_version:
          type: number
          format: double
        prompt_v2:
          type: string
        model:
          type: string
        helicone_template:
          type: string
        created_at:
          type: string
        metadata:
          $ref: '#/components/schemas/Record_string.any_'
        parent_prompt_version:
          type: string
          nullable: true
        experiment_id:
          type: string
          nullable: true
        updated_at:
          type: string
      required:
      - id
      - minor_version
      - major_version
      - prompt_v2
      - model
      - helicone_template
      - created_at
      - metadata
      type: object
      additionalProperties: false
    ResultSuccess_string-Array_:
      properties:
        data:
          items:
            type: string
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    FilterLeafSubset_experiment_:
      $ref: '#/components/schemas/Pick_FilterLeaf.experiment_'
    ResultSuccess_Record_string.ScoreV2__:
      properties:
        data:
          $ref: '#/components/schemas/Record_string.ScoreV2_'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_string_:
      properties:
        data:
          type: string
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    RequestObj:
      properties:
        id:
          type: string
        provider:
          type: string
      required:
      - id
      - provider
      type: object
      additionalProperties: false
    Result_ExperimentTableSimplified-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExperimentTableSimplified-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_EvaluatorResult-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorResult-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    EvaluatorResult:
      properties:
        id:
          type: string
        created_at:
          type: string
        scoring_type:
          type: string
        llm_template: {}
        organization_id:
          type: string
        updated_at:
          type: string
        name:
          type: string
        code_template: {}
        last_mile_config: {}
      required:
      - id
      - created_at
      - scoring_type
      - llm_template
      - organization_id
      - updated_at
      - name
      - code_template
      - last_mile_config
      type: object
      additionalProperties: false
    ResponseObj:
      properties:
        body: {}
        createdAt:
          type: string
        completionTokens:
          type: number
          format: double
        promptTokens:
          type: number
          format: double
        promptCacheWriteTokens:
          type: number
          format: double
        promptCacheReadTokens:
          type: number
          format: double
        delayMs:
          type: number
          format: double
        model:
          type: string
      required:
      - body
      - createdAt
      - completionTokens
      - promptTokens
      - promptCacheWriteTokens
      - promptCacheReadTokens
      - delayMs
      - model
      type: object
      additionalProperties: false
    Result__experimentId-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__experimentId-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_ExperimentTableSimplified-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExperimentTableSimplified'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Score:
      properties:
        valueType:
          type: string
        value:
          anyOf:
          - type: number
            format: double
          - type: string
            format: date-time
          - type: string
      required:
      - valueType
      - value
      type: object
      additionalProperties: false
    Result_ExperimentTableSimplified.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_ExperimentTableSimplified_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess__hypothesisId-string__:
      properties:
        data:
          properties:
            hypothesisId:
              type: string
          required:
          - hypothesisId
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ExperimentTableColumn:
      properties:
        id:
          type: string
        columnName:
          type: string
        columnType:
          type: string
        hypothesisId:
          type: string
        cells:
          items:
            properties:
              metadata:
                $ref: '#/components/schemas/Record_string.any_'
              value:
                type: string
                nullable: true
              requestId:
                type: string
              rowIndex:
                type: number
                format: double
              id:
                type: string
            required:
            - value
            - rowIndex
            - id
            type: object
          type: array
        metadata:
          $ref: '#/components/schemas/Record_string.any_'
      required:
      - id
      - columnName
      - columnType
      - cells
      type: object
      additionalProperties: false
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_EvaluatorResult-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EvaluatorResult'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
