openapi: 3.2.0
info:
  title: helicone-api Evaluator API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Evaluator
paths:
  /v1/evaluator:
    post:
      operationId: CreateEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEvaluatorParams'
      summary: Create evaluator
      x-summary-source: derived
  /v1/evaluator/{evaluatorId}:
    get:
      operationId: GetEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      summary: Get evaluator
      x-summary-source: derived
    put:
      operationId: UpdateEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEvaluatorParams'
      summary: Update evaluator
      x-summary-source: derived
    delete:
      operationId: DeleteEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      summary: Delete evaluator
      x-summary-source: derived
  /v1/evaluator/query:
    post:
      operationId: QueryEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorResult-Array.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties: {}
              type: object
      summary: Query evaluators
      x-summary-source: derived
  /v1/evaluator/{evaluatorId}/experiments:
    get:
      operationId: GetExperimentsForEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorExperiment-Array.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      summary: Get experiments for evaluator
      x-summary-source: derived
  /v1/evaluator/{evaluatorId}/onlineEvaluators:
    get:
      operationId: GetOnlineEvaluators
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_OnlineEvaluatorByEvaluatorId-Array.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      summary: Get online evaluators
      x-summary-source: derived
    post:
      operationId: CreateOnlineEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOnlineEvaluatorParams'
      summary: Create online evaluator
      x-summary-source: derived
  /v1/evaluator/{evaluatorId}/onlineEvaluators/{onlineEvaluatorId}:
    delete:
      operationId: DeleteOnlineEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      - in: path
        name: onlineEvaluatorId
        required: true
        schema:
          type: string
      summary: Delete online evaluator
      x-summary-source: derived
  /v1/evaluator/python/test:
    post:
      operationId: TestPythonEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__output-string--traces-string-Array--statusCode_63_-number_.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                testInput:
                  $ref: '#/components/schemas/TestInput'
                code:
                  type: string
              required:
              - testInput
              - code
              type: object
      summary: Test python evaluator
      x-summary-source: derived
  /v1/evaluator/llm/test:
    post:
      operationId: TestLLMEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatorScoreResult'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                evaluatorName:
                  type: string
                testInput:
                  $ref: '#/components/schemas/TestInput'
                evaluatorConfig:
                  $ref: '#/components/schemas/EvaluatorConfig'
              required:
              - evaluatorName
              - testInput
              - evaluatorConfig
              type: object
      summary: Test LLM evaluator
      x-summary-source: derived
  /v1/evaluator/lastmile/test:
    post:
      operationId: TestLastMileEvaluator
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__score-number--input-string--output-string--ground_truth_63_-string_.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                testInput:
                  $ref: '#/components/schemas/TestInput'
                config:
                  $ref: '#/components/schemas/LastMileConfigForm'
              required:
              - testInput
              - config
              type: object
      summary: Test last mile evaluator
      x-summary-source: derived
  /v1/evaluator/{evaluatorId}/stats:
    get:
      operationId: GetEvaluatorStats
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_EvaluatorStats.string_'
      tags:
      - Evaluator
      security:
      - api_key: []
      parameters:
      - in: path
        name: evaluatorId
        required: true
        schema:
          type: string
      summary: Get evaluator stats
      x-summary-source: derived
components:
  schemas:
    EvaluatorScoreResult:
      $ref: '#/components/schemas/Result_EvaluatorScore.string_'
    EvaluatorResult:
      properties:
        id:
          type: string
        created_at:
          type: string
        scoring_type:
          type: string
        llm_template: {}
        organization_id:
          type: string
        updated_at:
          type: string
        name:
          type: string
        code_template: {}
        last_mile_config: {}
      required:
      - id
      - created_at
      - scoring_type
      - llm_template
      - organization_id
      - updated_at
      - name
      - code_template
      - last_mile_config
      type: object
      additionalProperties: false
    EvaluatorExperiment:
      properties:
        experiment_name:
          type: string
        experiment_created_at:
          type: string
        experiment_id:
          type: string
      required:
      - experiment_name
      - experiment_created_at
      - experiment_id
      type: object
    Result_EvaluatorStats.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorStats_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_EvaluatorResult.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorResult_'
      - $ref: '#/components/schemas/ResultError_string_'
    Record_string.any_:
      properties: {}
      additionalProperties: {}
      type: object
      description: Construct a type with a set of properties K of type T
    EvaluatorScore:
      properties:
        score:
          anyOf:
          - type: number
            format: double
          - type: boolean
      required:
      - score
      type: object
    DataEntry:
      anyOf:
      - properties:
          _type:
            type: string
            enum:
            - system-prompt
        required:
        - _type
        type: object
      - properties:
          inputKey:
            type: string
          _type:
            type: string
            enum:
            - prompt-input
        required:
        - inputKey
        - _type
        type: object
      - properties:
          content:
            type: string
            enum:
            - jsonify
            - message
          _type:
            type: string
            enum:
            - input-body
        required:
        - content
        - _type
        type: object
      - properties:
          content:
            type: string
            enum:
            - jsonify
            - message
          _type:
            type: string
            enum:
            - output-body
        required:
        - content
        - _type
        type: object
    ResultError_string_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_EvaluatorExperiment-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EvaluatorExperiment'
          type: array
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_EvaluatorScore.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorScore_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_OnlineEvaluatorByEvaluatorId-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/OnlineEvaluatorByEvaluatorId'
          type: array
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_EvaluatorExperiment-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorExperiment-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_EvaluatorResult-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EvaluatorResult'
          type: array
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_EvaluatorScore_:
      properties:
        data:
          $ref: '#/components/schemas/EvaluatorScore'
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    BaseLastMileConfigForm:
      properties:
        output:
          $ref: '#/components/schemas/DataEntry'
        input:
          $ref: '#/components/schemas/DataEntry'
        name:
          type: string
      required:
      - output
      - input
      - name
      type: object
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
    CreateOnlineEvaluatorParams:
      properties:
        config:
          $ref: '#/components/schemas/Record_string.any_'
      required:
      - config
      type: object
    EvaluatorStats:
      properties:
        averageScore:
          type: number
          format: double
        totalUses:
          type: number
          format: double
        recentTrend:
          type: string
          enum:
          - up
          - down
          - stable
        scoreDistribution:
          items:
            properties:
              count:
                type: number
                format: double
              range:
                type: string
            required:
            - count
            - range
            type: object
          type: array
        timeSeriesData:
          items:
            properties:
              value:
                type: number
                format: double
              date:
                type: string
            required:
            - value
            - date
            type: object
          type: array
      required:
      - averageScore
      - totalUses
      - recentTrend
      - scoreDistribution
      - timeSeriesData
      type: object
      additionalProperties: false
    EvaluatorConfig:
      properties:
        evaluator_code_template:
          type: string
        evaluator_llm_template:
          type: string
        evaluator_scoring_type:
          type: string
      required:
      - evaluator_scoring_type
      type: object
    OnlineEvaluatorByEvaluatorId:
      properties:
        config: {}
        id:
          type: string
      required:
      - config
      - id
      type: object
    TestInput:
      properties:
        promptTemplate:
          type: string
        inputs:
          properties:
            autoInputs:
              $ref: '#/components/schemas/Record_string.string_'
            inputs:
              $ref: '#/components/schemas/Record_string.string_'
          required:
          - inputs
          type: object
        outputBody:
          type: string
        inputBody:
          type: string
      required:
      - inputs
      - outputBody
      - inputBody
      type: object
    Result_EvaluatorResult-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_EvaluatorResult-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_null_:
      properties:
        data:
          type:
          - number
          - 'null'
          enum:
          - null
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    UpdateEvaluatorParams:
      properties:
        scoring_type:
          type: string
        llm_template: {}
        code_template: {}
        name:
          type: string
        last_mile_config: {}
      type: object
      additionalProperties: false
    Result_OnlineEvaluatorByEvaluatorId-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_OnlineEvaluatorByEvaluatorId-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result__score-number--input-string--output-string--ground_truth_63_-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__score-number--input-string--output-string--ground_truth_63_-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    LastMileConfigForm:
      allOf:
      - $ref: '#/components/schemas/BaseLastMileConfigForm'
      - anyOf:
        - properties:
            _type:
              type: string
              enum:
              - relevance
              - context_relevance
          required:
          - _type
          type: object
        - properties:
            groundTruth:
              $ref: '#/components/schemas/DataEntry'
            _type:
              type: string
              enum:
              - faithfulness
          required:
          - groundTruth
          - _type
          type: object
    Result__output-string--traces-string-Array--statusCode_63_-number_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__output-string--traces-string-Array--statusCode_63_-number__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess__output-string--traces-string-Array--statusCode_63_-number__:
      properties:
        data:
          properties:
            statusCode:
              type: number
              format: double
            traces:
              items:
                type: string
              type: array
            output:
              type: string
          required:
          - traces
          - output
          type: object
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    CreateEvaluatorParams:
      properties:
        scoring_type:
          type: string
        llm_template: {}
        name:
          type: string
        code_template: {}
        last_mile_config: {}
      required:
      - scoring_type
      - name
      type: object
      additionalProperties: false
    ResultSuccess__score-number--input-string--output-string--ground_truth_63_-string__:
      properties:
        data:
          properties:
            ground_truth:
              type: string
            output:
              type: string
            input:
              type: string
            score:
              type: number
              format: double
          required:
          - output
          - input
          - score
          type: object
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_EvaluatorResult_:
      properties:
        data:
          $ref: '#/components/schemas/EvaluatorResult'
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_EvaluatorStats_:
      properties:
        data:
          $ref: '#/components/schemas/EvaluatorStats'
        error:
          type:
          - number
          - 'null'
          enum:
          - null
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
