openapi: 3.0.0
info:
  title: helicone-api Agent Dataset API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Dataset
paths:
  /v1/experiment/dataset:
    post:
      operationId: AddDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__datasetId-string_.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDatasetParams'
  /v1/experiment/dataset/random:
    post:
      operationId: AddRandomDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__datasetId-string_.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RandomDatasetParams'
  /v1/experiment/dataset/query:
    post:
      operationId: GetDatasets
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_DatasetResult-Array.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                promptVersionId:
                  type: string
              type: object
  /v1/experiment/dataset/{datasetId}/row/insert:
    post:
      operationId: InsertDatasetRow
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                originalColumnId:
                  type: string
                inputs:
                  $ref: '#/components/schemas/Record_string.string_'
                inputRecordId:
                  type: string
              required:
              - inputs
              - inputRecordId
              type: object
  /v1/experiment/dataset/{datasetId}/version/{promptVersionId}/row/new:
    post:
      operationId: CreateDatasetRow
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
      - in: path
        name: promptVersionId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                sourceRequest:
                  type: string
                inputs:
                  $ref: '#/components/schemas/Record_string.string_'
              required:
              - inputs
              type: object
  /v1/experiment/dataset/{datasetId}/inputs/query:
    post:
      operationId: GetDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PromptInputRecord-Array.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
  /v1/experiment/dataset/{datasetId}/mutate:
    post:
      operationId: MutateDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result___-Array.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                removeRequests:
                  items:
                    type: string
                  type: array
                addRequests:
                  items:
                    type: string
                  type: array
              required:
              - removeRequests
              - addRequests
              type: object
  /v1/helicone-dataset:
    post:
      operationId: AddHeliconeDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__datasetId-string_.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewHeliconeDatasetParams'
  /v1/helicone-dataset/{datasetId}/mutate:
    post:
      operationId: MutateHeliconeDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutateParams'
  /v1/helicone-dataset/{datasetId}/query:
    post:
      operationId: QueryHeliconeDatasetRows
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_HeliconeDatasetRow-Array.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                limit:
                  type: number
                  format: double
                offset:
                  type: number
                  format: double
              required:
              - limit
              - offset
              type: object
  /v1/helicone-dataset/{datasetId}/count:
    post:
      operationId: CountHeliconeDatasetRows
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_number.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
  /v1/helicone-dataset/query:
    post:
      operationId: QueryHeliconeDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_HeliconeDataset-Array.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                datasetIds:
                  items:
                    type: string
                  type: array
              type: object
  /v1/helicone-dataset/{datasetId}/request/{requestId}:
    post:
      operationId: UpdateHeliconeDatasetRequest
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ResultError_unknown_'
                - $ref: '#/components/schemas/ResultSuccess_any_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
      - in: path
        name: requestId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                responseBody:
                  $ref: '#/components/schemas/Json'
                requestBody:
                  $ref: '#/components/schemas/Json'
              required:
              - responseBody
              - requestBody
              type: object
  /v1/helicone-dataset/{datasetId}/delete:
    post:
      operationId: DeleteHeliconeDataset
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Dataset
      security:
      - api_key: []
      parameters:
      - in: path
        name: datasetId
        required: true
        schema:
          type: string
components:
  schemas:
    DatasetResult:
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
        meta:
          $ref: '#/components/schemas/DatasetMetadata'
      required:
      - id
      - name
      - created_at
      type: object
      additionalProperties: false
    ResultSuccess___-Array_:
      properties:
        data:
          items:
            properties: {}
            type: object
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    DatasetFilterNode:
      anyOf:
      - $ref: '#/components/schemas/FilterLeafSubset_request-or-prompts_versions_'
      - $ref: '#/components/schemas/DatasetFilterBranch'
      - type: string
        enum:
        - all
    DatasetFilterBranch:
      properties:
        right:
          $ref: '#/components/schemas/DatasetFilterNode'
        operator:
          type: string
          enum:
          - or
          - and
        left:
          $ref: '#/components/schemas/DatasetFilterNode'
      required:
      - right
      - operator
      - left
      type: object
    Result_PromptInputRecord-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_PromptInputRecord-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result__datasetId-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__datasetId-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    RandomDatasetParams:
      properties:
        datasetName:
          type: string
        filter:
          $ref: '#/components/schemas/DatasetFilterNode'
        offset:
          type: number
          format: double
        limit:
          type: number
          format: double
      required:
      - datasetName
      - filter
      type: object
      additionalProperties: false
    MutateParams:
      properties:
        addRequests:
          items:
            type: string
          type: array
        removeRequests:
          items:
            type: string
          type: array
      required:
      - addRequests
      - removeRequests
      type: object
      additionalProperties: false
    Partial_TextOperators_:
      properties:
        not-equals:
          type: string
        equals:
          type: string
        like:
          type: string
        ilike:
          type: string
        contains:
          type: string
        not-contains:
          type: string
      type: object
      description: Make all properties in T optional
    HeliconeDataset:
      properties:
        created_at:
          type: string
          nullable: true
        dataset_type:
          type: string
        id:
          type: string
        meta:
          allOf:
          - $ref: '#/components/schemas/Json'
          nullable: true
        name:
          type: string
          nullable: true
        organization:
          type: string
        requests_count:
          type: number
          format: double
      required:
      - created_at
      - dataset_type
      - id
      - meta
      - name
      - organization
      - requests_count
      type: object
      additionalProperties: false
    ResultSuccess__datasetId-string__:
      properties:
        data:
          properties:
            datasetId:
              type: string
          required:
          - datasetId
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_HeliconeDatasetRow-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/HeliconeDatasetRow'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_any_:
      properties:
        data: {}
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_DatasetResult-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_DatasetResult-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_DatasetResult-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DatasetResult'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Partial_TimestampOperators_:
      properties:
        equals:
          type: string
        gte:
          type: string
        lte:
          type: string
        lt:
          type: string
        gt:
          type: string
      type: object
      description: Make all properties in T optional
    NewDatasetParams:
      properties:
        datasetName:
          type: string
        requestIds:
          items:
            type: string
          type: array
        datasetType:
          type: string
          enum:
          - experiment
          - helicone
        meta:
          $ref: '#/components/schemas/DatasetMetadata'
      required:
      - datasetName
      - requestIds
      - datasetType
      type: object
      additionalProperties: false
    HeliconeDatasetRow:
      properties:
        id:
          type: string
        origin_request_id:
          type: string
        dataset_id:
          type: string
        created_at:
          type: string
        signed_url:
          $ref: '#/components/schemas/Result_string.string_'
      required:
      - id
      - origin_request_id
      - dataset_id
      - created_at
      - signed_url
      type: object
      additionalProperties: false
    ResultSuccess_HeliconeDataset-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/HeliconeDataset'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Json:
      anyOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      - properties: {}
        additionalProperties:
          $ref: '#/components/schemas/Json'
        type: object
      - items:
          $ref: '#/components/schemas/Json'
        type: array
      nullable: true
    Partial_NumberOperators_:
      properties:
        not-equals:
          type: number
          format: double
        equals:
          type: number
          format: double
        gte:
          type: number
          format: double
        lte:
          type: number
          format: double
        lt:
          type: number
          format: double
        gt:
          type: number
          format: double
      type: object
      description: Make all properties in T optional
    ResultSuccess_PromptInputRecord-Array_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PromptInputRecord'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_string.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_string_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    Pick_FilterLeaf.request-or-prompts_versions_:
      properties:
        request:
          $ref: '#/components/schemas/Partial_RequestTableToOperators_'
        prompts_versions:
          $ref: '#/components/schemas/Partial_PromptVersionsToOperators_'
      type: object
      description: From T, pick a set of properties whose keys are in the union K
    Partial_PromptVersionsToOperators_:
      properties:
        minor_version:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        major_version:
          $ref: '#/components/schemas/Partial_NumberOperators_'
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_v2:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    FilterLeafSubset_request-or-prompts_versions_:
      $ref: '#/components/schemas/Pick_FilterLeaf.request-or-prompts_versions_'
    ResultSuccess_null_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    NewHeliconeDatasetParams:
      properties:
        datasetName:
          type: string
        requestIds:
          items:
            type: string
          type: array
        meta:
          $ref: '#/components/schemas/HeliconeDatasetMetadata'
      required:
      - datasetName
      - requestIds
      type: object
      additionalProperties: false
    Record_string.string_:
      properties: {}
      additionalProperties:
        type: string
      type: object
      description: Construct a type with a set of properties K of type T
    Result_number.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_number_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result___-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess___-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    DatasetMetadata:
      properties:
        promptVersionId:
          type: string
        inputRecordsIds:
          items:
            type: string
          type: array
      type: object
      additionalProperties: false
    Result_HeliconeDataset-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_HeliconeDataset-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_string_:
      properties:
        data:
          type: string
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultError_unknown_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error: {}
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_HeliconeDatasetRow-Array.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_HeliconeDatasetRow-Array_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess_number_:
      properties:
        data:
          type: number
          format: double
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    PromptInputRecord:
      properties:
        id:
          type: string
        inputs:
          $ref: '#/components/schemas/Record_string.string_'
        dataset_row_id:
          type: string
        source_request:
          type: string
        prompt_version:
          type: string
        created_at:
          type: string
        response_body:
          type: string
        request_body:
          type: string
        auto_prompt_inputs:
          items: {}
          type: array
      required:
      - id
      - inputs
      - source_request
      - prompt_version
      - created_at
      - auto_prompt_inputs
      type: object
      additionalProperties: false
    HeliconeDatasetMetadata:
      properties:
        promptVersionId:
          type: string
        inputRecordsIds:
          items:
            type: string
          type: array
      type: object
      additionalProperties: false
    Partial_RequestTableToOperators_:
      properties:
        prompt:
          $ref: '#/components/schemas/Partial_TextOperators_'
        created_at:
          $ref: '#/components/schemas/Partial_TimestampOperators_'
        user_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        auth_hash:
          $ref: '#/components/schemas/Partial_TextOperators_'
        org_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        node_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
        model:
          $ref: '#/components/schemas/Partial_TextOperators_'
        modelOverride:
          $ref: '#/components/schemas/Partial_TextOperators_'
        path:
          $ref: '#/components/schemas/Partial_TextOperators_'
        country_code:
          $ref: '#/components/schemas/Partial_TextOperators_'
        prompt_id:
          $ref: '#/components/schemas/Partial_TextOperators_'
      type: object
      description: Make all properties in T optional
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
