openapi: 3.0.0
info:
  title: helicone-api Agent Integration API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Integration
paths:
  /v1/integration:
    post:
      operationId: CreateIntegration
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result__id-string_.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationCreateParams'
    get:
      operationId: GetIntegrations
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Array_Integration_.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters: []
  /v1/integration/{integrationId}:
    post:
      operationId: UpdateIntegration
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_null.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters:
      - in: path
        name: integrationId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationUpdateParams'
    get:
      operationId: GetIntegration
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Integration.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters:
      - in: path
        name: integrationId
        required: true
        schema:
          type: string
  /v1/integration/type/{type}:
    get:
      operationId: GetIntegrationByType
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Integration.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
  /v1/integration/slack/settings:
    get:
      operationId: GetSlackSettings
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Integration.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters: []
  /v1/integration/slack/channels:
    get:
      operationId: GetSlackChannels
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Array__id-string--name-string__.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters: []
  /v1/integration/{integrationId}/stripe/test-meter-event:
    post:
      operationId: TestStripeMeterEvent
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_string.string_'
      tags:
      - Integration
      security:
      - api_key: []
      parameters:
      - in: path
        name: integrationId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestStripeMeterEventRequest'
components:
  schemas:
    Result__id-string_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess__id-string__'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultSuccess__id-string__:
      properties:
        data:
          properties:
            id:
              type: string
          required:
          - id
          type: object
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_Array_Integration__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Integration'
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_Integration.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Integration_'
      - $ref: '#/components/schemas/ResultError_string_'
    IntegrationUpdateParams:
      properties:
        integration_name:
          type: string
        settings:
          $ref: '#/components/schemas/Json'
        active:
          type: boolean
      type: object
      additionalProperties: false
    Integration:
      properties:
        integration_name:
          type: string
        settings:
          $ref: '#/components/schemas/Json'
        active:
          type: boolean
        id:
          type: string
      required:
      - id
      type: object
      additionalProperties: false
    ResultSuccess_Array__id-string--name-string___:
      properties:
        data:
          items:
            properties:
              name:
                type: string
              id:
                type: string
            required:
            - name
            - id
            type: object
          type: array
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    ResultSuccess_string_:
      properties:
        data:
          type: string
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    TestStripeMeterEventRequest:
      properties:
        event_name:
          type: string
        customer_id:
          type: string
      required:
      - event_name
      - customer_id
      type: object
      additionalProperties: false
    ResultSuccess_null_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    IntegrationCreateParams:
      properties:
        integration_name:
          type: string
        settings:
          $ref: '#/components/schemas/Json'
        active:
          type: boolean
      required:
      - integration_name
      type: object
      additionalProperties: false
    Json:
      anyOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      - properties: {}
        additionalProperties:
          $ref: '#/components/schemas/Json'
        type: object
      - items:
          $ref: '#/components/schemas/Json'
        type: array
      nullable: true
    ResultSuccess_Integration_:
      properties:
        data:
          $ref: '#/components/schemas/Integration'
        error:
          type: number
          enum:
          - null
          nullable: true
      required:
      - data
      - error
      type: object
      additionalProperties: false
    Result_string.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_string_'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Array_Integration_.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Array_Integration__'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_Array__id-string--name-string__.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_Array__id-string--name-string___'
      - $ref: '#/components/schemas/ResultError_string_'
    Result_null.string_:
      anyOf:
      - $ref: '#/components/schemas/ResultSuccess_null_'
      - $ref: '#/components/schemas/ResultError_string_'
    ResultError_string_:
      properties:
        data:
          type: number
          enum:
          - null
          nullable: true
        error:
          type: string
      required:
      - data
      - error
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
