openapi: 3.0.0
info:
  title: helicone-api Agent Customer API
  version: 1.0.0
  license:
    name: MIT
  contact: {}
servers:
- url: https://api.helicone.ai/
- url: http://localhost:8585/
tags:
- name: Customer
paths:
  /v1/customer/{customerId}/usage/query:
    post:
      operationId: GetCustomerUsage
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CustomerUsage'
                nullable: true
      tags:
      - Customer
      security:
      - api_key: []
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties: {}
              type: object
  /v1/customer/query:
    post:
      operationId: GetCustomers
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Customer'
                type: array
      tags:
      - Customer
      security:
      - api_key: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties: {}
              type: object
components:
  schemas:
    Customer:
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
      additionalProperties: false
    CustomerUsage:
      properties:
        id:
          type: string
        name:
          type: string
        cost:
          type: number
          format: double
        count:
          type: number
          format: double
        prompt_tokens:
          type: number
          format: double
        completion_tokens:
          type: number
          format: double
      required:
      - id
      - name
      - cost
      - count
      - prompt_tokens
      - completion_tokens
      type: object
      additionalProperties: false
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: 'Bearer token authentication. Format: ''Bearer YOUR_API_KEY'''
